@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$small: 400px;
$medium: 600px;

body {
  background-image: url(https://images.unsplash.com/photo-1622671943036-3709f2baab12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
  background-size: cover;
  min-height: 100vh;
}

.App {
  font-family: "Caveat Brush", cursive;
}

.header {
  .nav {
    position: fixed;

    .nav-icon {
      font-size: 2.5rem;
      padding: 0.2em;
      cursor: pointer;
    }
    .nav-list {
      display: none;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.8);
      li {
        list-style: none;
        font-size: 1.2em;

        a {
          text-decoration: none;
          display: block;
          padding: 0.5em;
          color: white;

          &.active {
            color: black;
            background: gold;
          }
        }
      }
    }
    .nav-list.nav-open {
      display: flex;
    }
  }

  .heading {
    padding: 0.5em 0;
    text-align: center;
  }
}

.content {
  @media screen and (max-width: 500px) {
    overflow-x: scroll;
  }
  background: transparent;
}

.table {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 2.5em auto;

  thead {
    background: rgb(219, 141, 141);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }

  tbody {
    font-size: 1.2rem;
  }
  td {
    border: 2px solid black;
    padding: 0.7em;
  }

  .profile,
  .edit,
  .delete {
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
    border: 0;
    background: transparent;

    &:hover {
      transform: scale(1.2);
    }
  }

  .delete {
    color: red;
  }
}

.userForm {
  width: 70%;
  max-width: 30rem;
  min-width: 15rem;
  padding: 2em;
  margin: 2.5em auto;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.8);
  & > .inputField {
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: column;
    label {
      font-size: 1.5rem;
      margin-bottom: 0.2em;
      margin-left: 0.3em;
    }

    input {
      font-size: 1.2rem;
      padding: 0.5em 1em;
      border-radius: 1em;
      border: 0;

      &:focus {
        outline: none;
        background: #222222;
        color: white;
      }
    }
  }
}

.buttonGroup {
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
  display: flex;
  gap: 1em;
  margin-top: 1.8em;

  .cancel,
  .submit {
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border-radius: 1em;
    border: 0;
    background: black;
    color: white;
    cursor: pointer;
    &:hover {
      outline: 2px solid gold;
      color: gold;
    }
  }
}

.deletePage {
  padding: 2em;
  max-width: 35rem;
  margin: 2em auto;
  p {
    text-align: left;
    font-size: 1.8rem;
  }
}

.profilePage {
  padding: 2em;
  margin: 2.5em auto;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  width: fit-content;
  h1 {
    text-align: center;
    color: black;
    margin-bottom: 0.5em;
  }

  h2 {
    margin-bottom: 0.2em;
    font-size: 2rem;
    font-weight: normal;
    span {
      color: gold;
    }
  }

  .update,
  .cancel {
    cursor: pointer;
    border: 0;
    font-size: 1.2rem;
    padding: 0.5em 0;
    border-radius: 1em;
    background: black;
    color: white;

    &:hover {
      color: gold;
      outline: 2px solid gold;
    }
  }

  .update {
    margin: 1em 0;
  }
}

span {
  color: red;
}
